[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "modules/alignment"]
	path = modules/alignment
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-mapping.git
[submodule "modules/post-workshop"]
	path = modules/post-workshop
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-nectar.git
[submodule "modules/denovo"]
	path = modules/denovo
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-velvet.git
[submodule "modules/cli"]
	path = modules/cli
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-cli.git
[submodule "modules/qc"]
	path = modules/qc
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-qc.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
[submodule "modules/denovo-canu"]
	path = modules/denovo-canu
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-denovo-canu.git
